/*!
 * Start Bootstrap - Portfolio Website 
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');
@import url('./font-awesome/css/font-awesome.min.css');
body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #AC93BF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'open sans';
    font-weight: 500;
}

hr.line-separator{
    height:1px;
    background:#727878;
    opacity: 0.2;
    border-bottom:1px solid #313030;
}

@media(min-width:990px) {
    .navbar-fixed-top {
        padding: 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 20px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Josefin Sans",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 19px;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 90px 0;
}
 
section h2 {
    margin-top: 20px;
    font-size: 54px;
    color: #7166A6;
    text-align: center;
}

section h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
}

section#page-top h4 {
    color: #7166A6;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
  
} 

section#page-top p {
    text-align: left;
    padding-left: 90px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif !important;
}

section#aboutme {
    background: linear-gradient(rgba(113, 102, 166, 0.80), 
                                rgba(113, 102, 166, 0.80)),
                url(../img/freelancer-cta.jpg); 
    background-position: 50% 0px;
    background-attachment: fixed;
}

section#aboutme h2{
    color: #fff;
}

section#aboutme h3 {
    color: #fff;
}
section#aboutme p {
    color: #fff;
}

section#abilites {
    background-color: #E2D0E7;
}

section#education p {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px;
    text-align: left;
}

section#abilites h4{
    color: #7166A6;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.4;
}
.highlight {
    font-weight: 400;
    letter-spacing: 0.5px;  
}
.highlight:hover {
    font-weight: 700;
    letter-spacing: 4px;
    background-color: #ecdcf0;
}

section#education p {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    text-align: left;
}
section#contact {
    background-color: #434242;
} 
section#contact h2 {
    color: #fff;
}
section#contact h3 {
    color: #727878;
}
section#contact p {
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif !important;
}
section#refernce p {
    font-family: 'Open Sans', sans-serif !important;
    line-height: 24px;
    color: #666;
    font-size: 20px;
}

.tab {
    margin-left: 40px;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
    section#page-top p {
        padding-left: 0px;
        text-align:center;
    }
    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 350px;
}

#portfolio .portfolio-item .portfolio-link img{
    width: 366px;
    height: 266px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(113, 102, 166, 0.80);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 2px;
}


#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content p {
    margin-top: -12px;
    font-size: 16px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #portfolio .portfolio-item .portfolio-link .caption .caption-content p {
        font-size: 14px;
    }
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

.portfolio-modal {
    z-index: 9999 !important;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #AC93BF;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #AC93BF;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #26231E;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #26231E;
}

.btn-resume {
    display: inline-block;
    padding: 10px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 20%;
    text-align: center;
    font-size: 20px;
}
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 40px;
    color: #756DA6;
    font-weight: 600;
}
.portfolio-modal .modal-content p {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    text-align: left!important;
}
.portfolio-modal .modal-content p.ref{
    font-size: 17px;
}
.portfolio-modal .modal-content p.note {
    color: red;
    font-size: 15px;
}
.portfolio-modal .modal-content h4 {
    margin: 20px;
    font-size: 28px;
    color: #756DA6;
    font-weight: 500;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #26231E;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #26231E;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.strong-text {
    font-weight: bold;
}